In [1]:
!pip install --upgrade seaborn

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

Requirement already up-to-date: seaborn in c:\users\rames\anaconda3\anaconda\lib\site-packages (0.12.2)
Requirement already satisfied, skipping upgrade: numpy!=1.24.0,>=1.17 in c:\users\rames\appdata\roaming\python\python37\site-packages (from seaborn) (1.19.5)
Requirement already satisfied, skipping upgrade: typing_extensions; python_version < "3.8" in c:\users\rames\appdata\roaming\python\python37\site-packages (from seaborn) (4.5.0)
Requirement already satisfied, skipping upgrade: matplotlib!=3.6.1,>=3.1 in c:\users\rames\anaconda3\anaconda\lib\site-packages (from seaborn) (3.1.1)
Requirement already satisfied, skipping upgrade: pandas>=0.25 in c:\users\rames\appdata\roaming\python\python37\site-packages (from seaborn) (0.25.3)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in c:\users\rames\anaconda3\anaconda\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.10.0)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in c:\users\rames\anaconda3\anaconda\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.1.0)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\rames\anaconda3\anaconda\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.4.2)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.1 in c:\users\rames\anaconda3\anaconda\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.0)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\users\rames\anaconda3\anaconda\lib\site-packages (from pandas>=0.25->seaborn) (2019.3)
Requirement already satisfied, skipping upgrade: six in c:\users\rames\anaconda3\anaconda\lib\site-packages (from cycler>=0.10->matplotlib!=3.6.1,>=3.1->seaborn) (1.12.0)
Requirement already satisfied, skipping upgrade: setuptools in c:\users\rames\anaconda3\anaconda\lib\site-packages (from kiwisolver>=1.0.1->matplotlib!=3.6.1,>=3.1->seaborn) (41.4.0)

In [2]:
df = pd.read_csv(r"C:\Users\rames\OneDrive\Desktop\Risk Analysis\Banking.csv")

In [3]:
df.head()

,Client ID,Name,Age,Location ID,Joined Bank,Banking Contact,Nationality,Occupation,Fee Structure,Loyalty Classification,...,Bank Deposits,Checking Accounts,Saving Accounts,Foreign Currency Account,Business Lending,Properties Owned,Risk Weighting,BRId,GenderId,IAId
0,IND81288,Raymond Mills,24,34324,06-05-2019,Anthony Torres,American,Safety Technician IV,High,Jade,...,1485828.64,603617.88,607332.46,12249.96,1134475.30,1,2,1,1,1
1,IND65833,Julia Spencer,23,42205,10-12-2001,Jonathan Hawkins,African,Software Consultant,High,Jade,...,641482.79,229521.37,344635.16,61162.31,2000526.10,1,3,2,1,2
2,IND47499,Stephen Murray,27,7314,25-01-2010,Anthony Berry,European,Help Desk Operator,High,Gold,...,1033401.59,652674.69,203054.35,79071.78,548137.58,1,3,3,2,3
3,IND72498,Virginia Garza,40,34594,28-03-2019,Steve Diaz,American,Geologist II,Mid,Silver,...,1048157.49,1048157.49,234685.02,57513.65,1148402.29,0,4,4,1,4
4,IND60181,Melissa Sanders,46,41269,20-07-2012,Shawn Long,American,Assistant Professor,Mid,Platinum,...,487782.53,446644.25,128351.45,30012.14,1674412.12,0,3,1,2,5

In [4]:
df.shape

(3000, 25)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 25 columns):
Client ID                   3000 non-null object
Name                        3000 non-null object
Age                         3000 non-null int64
Location ID                 3000 non-null int64
Joined Bank                 3000 non-null object
Banking Contact             3000 non-null object
Nationality                 3000 non-null object
Occupation                  3000 non-null object
Fee Structure               3000 non-null object
Loyalty Classification      3000 non-null object
Estimated Income            3000 non-null float64
Superannuation Savings      3000 non-null float64
Amount of Credit Cards      3000 non-null int64
Credit Card Balance         3000 non-null float64
Bank Loans                  3000 non-null float64
Bank Deposits               3000 non-null float64
Checking Accounts           3000 non-null float64
Saving Accounts             3000 non-null float64
Foreign Currency Account    3000 non-null float64
Business Lending            3000 non-null float64
Properties Owned            3000 non-null int64
Risk Weighting              3000 non-null int64
BRId                        3000 non-null int64
GenderId                    3000 non-null int64
IAId                        3000 non-null int64
dtypes: float64(9), int64(8), object(8)
memory usage: 586.1+ KB

In [8]:
df.columns

Index(['Client ID', 'Name', 'Age', 'Location ID', 'Joined Bank',
       'Banking Contact', 'Nationality', 'Occupation', 'Fee Structure',
       'Loyalty Classification', 'Estimated Income', 'Superannuation Savings',
       'Amount of Credit Cards', 'Credit Card Balance', 'Bank Loans',
       'Bank Deposits', 'Checking Accounts', 'Saving Accounts',
       'Foreign Currency Account', 'Business Lending', 'Properties Owned',
       'Risk Weighting', 'BRId', 'GenderId', 'IAId'],
      dtype='object')

In [ ]:
#Generate descriptive statics for the dataFrame
df.describe()

In [ ]:
bins = [0, 100000, 300000, float('inf')]
labels = ['Low', 'Med', 'High']
df['Income Band'] = pd.cut(df['Estimated Income'], bins=bins, labels=labels)

In [ ]:
df['Income Band'].value_counts().plot(kind='bar')

In [ ]:
df.head()

## Categorical Analysis

In [ ]:
#Examine the distribution of unique cataegories in categorical columns
categorical_cols = ["Nationality", "Occupation", "Fee Structure", "Loyalty Classification","Amount of Credit Cards", "Properties Owned", "Risk Weighting", "BRId", "GenderId", "IAId"]

for col in categorical_cols:
    print(f"Value Counts for '{col}':")
    display(df[col].value_counts())

## Univariate Analysis

In [ ]:
for i, predictor in enumerate(categorical_cols):
    plt.figure(i)
    sns.countplot(data=df, x=predictor)

## Bivariate Analysis

In [ ]:
for i, predictor in enumerate(categorical_cols):
    plt.figure(i)
    sns.countplot(data=df, x=predictor, hue='GenderId')

In [ ]:
for i, predictor in enumerate(categorical_cols):
    plt.figure(i)
    sns.countplot(data=df, x=predictor, hue='Nationality')

In [ ]:
#Histplot of value count for different occupation
for col in categorical_cols:
    if col == "Occupation":
        continue
    plt.figure(figsize=(8,4))
    sns.histplot(df[col])
    plt.title(f'Histogram of {col} Count')
    plt.xlabel(col)
    plt.ylabel('Count')
    plt.show()

In [ ]:
df.info()

## Numerical Analysis

In [ ]:
numeric_cols = ['Age', 'Estimated Income', 'Superannuation Savings', 'Amount of Credit Cards', 'Credit Card Balance', 'Bank Loans', 'Bank Deposits', 'Checking Accounts', 'Saving Accounts', 'Foreign Currency Account', 'Business Lending']

# 1. Basic Descriptive Statistics
print("Descriptive Statistics:")
print(df[numeric_cols].describe().transpose())

In [ ]:
# 2. Visualizations for each numeric column
for col in numeric_cols:
    plt.figure(figsize=(14, 5))
    
    # Histogram with KDE
    plt.subplot(1, 2, 1)
    sns.histplot(df[col], kde=True, bins=30)
    plt.title(f'Distribution of {col}')
    plt.xlabel(col)
    plt.ylabel('Frequency')
    
    
    # Boxplot
    plt.subplot(1, 2, 2)
    sns.boxplot(x=df[col])
    plt.title(f'Boxplot of {col}')
    plt.xlabel(col)
    
    plt.tight_layout()
    plt.show()
    
    print(f"\n{col}:")
    print(f"Skewness: {df[col].skew():.2f}")
    print(f"Kurtosis: {df[col].kurtosis():.2f}")
    print("="*50)

## Corrleation(Heat Map)

In [ ]:
correlation_matrix = df[numeric_cols].corr()

plt.figure(figsize=(12, 12))
sns.heatmap(correlation_matrix, annot=True, cmap='crest', fmt='.2f')
plt.title('Correlation Heatmap')
plt.show()

## Insights of EDA:

1.Majority of customers are married, full-time employed, and in the middle-income group.

2.Email is the top communication channel; online banking is widely preferred.

3.Churn is higher among unmarried, childless, and low product-holding customers.

4.High positive correlation between Checking and Saving Accounts (0.84) â€” customers often maintain both.

5.A small segment of customers has very high income, loans, and deposits, indicating wealth concentration.

6.Most financial features are right-skewed, showing that few customers hold large financial values.